<div id="accordion mt-4">
  <div class="card">
    <div class="card-header">
      <div class="mb-0 d-flex flex-row nowrap justify-content-between">


        <h2> Module Tâches </h2>
        <div>
          <button class="btn btn-link toggle-btn" [attr.aria-expanded]="isOpen" (click)="isOpen = !isOpen">
            <i [ngClass]="{'fa-chevron-down': !isOpen, 'fa-chevron-up': isOpen}" class="fa"></i>
          </button>

        </div>

      </div>
    </div>
    <div id="collapseOne" class="collapse" [ngClass]="{'show': isOpen}">
      <div class="card-body">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <div>
              <button (click)="displayMode = 'all'" class="btn btn-outline-primary me-2">Toutes les tâches</button>
              <button *ngIf="Tasks" (click)="displayMode = 'mine'" class="btn btn-outline-secondary me-2">Voir mes
                tâches</button>
              <button *ngIf="userEvent.role == 'CREATEUR'" (click)="displayMode = 'create'"
                class="btn btn-outline-success">Créer une tâche</button>
            </div>
          </div>
        </nav>


        <!-- Vue pour toutes les tâches -->
        <div *ngIf="displayMode === 'all'">
          <div class="container mt-4">

            <div *ngIf="!Tasks" class="textInfosTask">
              <div *ngIf="userEvent.role == 'CREATEUR'">
                <p> Ici vous pouvez créer et assigner des tâches pour vous ou pour vos convives. <br> <br>
                  Demander à un invité de ramener les chips n'as jamais été aussi simple !
                  Vous aurez également la possibilité de rendre certaines tâches invisibles pour certains !
                  Faites en sorte que Mathis apporte le gâteaux d'anniverssaire sans en informer Julie ! </p>

                <p class="txt-handwritting"> Debutez des maintenant en creant votre premiere tache. Cliquez simplement
                  sur le boutton "creer une tache" !</p>
              </div>

              <div *ngIf="userEvent.role != 'CREATEUR'">
                <p> Le créateur de cet événement en surement en train d'ajouter de nouvelles tâches ! <br> <br>
                Patientez encore un peu ! Le créateur de cet événement vient d'activer le module tâche ! 
                Vous verrez surement apparaitre des tâches pour vous ou pou d'autres invités ! 
                </p>

                <p class="txt-handwritting">N'hesitez pas a faire savoir a votre hote si vous avez des idees de taches ! </p>
              </div>


            </div>

            <table *ngIf="Tasks" class="table">
              <thead>
                <tr>
                  <th scope="col">Description</th>
                  <th scope="col">Urgence</th>
                  <th scope="col">Date d'exécution</th>
                  <th scope="col">Assigné à</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Faire les courses</td>
                  <td><span class="badge bg-danger">Haute</span></td>
                  <td>2023-09-15</td>
                  <td>Moi, Alice</td>
                  <td>
                    <!-- Visibles seulement si userEvent?.role == 'CREATEUR' -->
                    <button class="btn btn-light me-2"><i class="fa-solid fa-eye-slash"></i></button>
                    <!-- Oeil barré -->
                    <button *ngIf="userEvent.role == 'CREATEUR'" class="btn btn-primary"><i
                        class="fa fa-pencil"></i></button> <!-- Edit -->
                    <button *ngIf="userEvent.role == 'CREATEUR'" class="btn btn-danger  ms-2"><i
                        class="fa-regular fa-trash-can"></i></button> <!-- Poubelle -->
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>

        <!-- Vue pour mes tâches -->


        <div *ngIf="displayMode === 'mine'">
          <div class="container mt-4">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Description</th>
                  <th scope="col">Urgence</th>
                  <th scope="col">Date d'exécution</th>
                  <th scope="col">Assigné à</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Faire les courses</td>
                  <td><span class="badge bg-danger">Haute</span></td>
                  <td>2023-09-15</td>
                  <td>CHANGE</td>
                  <td>
                    <!-- Visibles seulement si userEvent?.role == 'CREATEUR' -->
                    <button class="btn btn-light me-2"><i class="fa-solid fa-eye-slash"></i></button>
                    <!-- Oeil barré -->
                    <button *ngIf="userEvent.role == 'CREATEUR'" class="btn btn-primary"><i
                        class="fa fa-pencil"></i></button> <!-- Edit -->
                    <button *ngIf="userEvent.role == 'CREATEUR'" class="btn btn-danger  ms-2"><i
                        class="fa-regular fa-trash-can"></i></button> <!-- Poubelle -->
                  </td>
                </tr>
              </tbody>
            </table>
          </div>


        </div>

       <!--   Vue pour créer une tâche -->
       <form [formGroup]="taskForm" (submit)="createTask()" class="p-3">
        <div *ngIf="displayMode === 'create'">
          <p-card header="Créez une tâche" class="mb-4">
            <!-- Textarea pour la description de la tâche -->
            <div class="card flex p-float-label justify-content-center mb-3">
              <textarea id="float-input" rows="5" cols="30" pInputTextarea [autoResize]="true" class="form-control"></textarea>
              <label for="float-input" class="form-label">Décrivez en quelques mots votre nouvelle tâche</label>
            </div>
                      <!-- Multiselect pour les assignés -->
          
            <div class="card flex justify-content-center mb-3">
            <p-multiSelect [options]="guests" [(ngModel)]="Assignee" (ngModelChange)="saveAssignees()" defaultLabel="Avez-vous une personne en tête pour cette tâche ?" optionLabel="displayLabel" display="chip"></p-multiSelect>
          </div>
      
          <!-- Toggle Button pour cacher la tâche -->
          <div class="d-flex align-items-center mb-3">
            <span class="me-2">Cacher la tâche pour certain(e)s</span>
            <p-toggleButton [(ngModel)]="showInvisibleToggle" onLabel="Yes" offLabel="No"></p-toggleButton>
          </div>
                <!-- Multiselect pour les invités pour qui la tâche est invisible -->
          <div *ngIf="showInvisibleToggle" class="card flex justify-content-center">
            <p-multiSelect [options]="filteredGuests" [(ngModel)]="InvisibleTo" (ngModelChange)="saveInvisibleTo()" defaultLabel="Rendre invisible pour" optionLabel="displayLabel" display="chip"></p-multiSelect>
          </div>
          </p-card>
      
        <!-- Bouton pour créer la tâche -->
        <div class="d-flex justify-content-center mb-3">
          <button type="submit" class="btn btn-primary">Créer une tâche</button>
        </div>

        </div>
      

      </form>
      
      

<!--  
         <form [formGroup]="taskForm" (submit)="createTask()">
            <div class="mb-3"> <label for="description" class="form-label">Description</label>
              <input type="text" class="form-control" id="description" formControlName="description">
            </div>

            <div class="mb-3 d-flex flex-row ">

              <div>


                <label for="dueDate" class="form-label">Date d'exécution</label>
                <input type="date" class="form-control" id="dueDate" [min]="minDate" [max]="maxDate" formControlName="dueDate">
              </div>
              <div>
                <label for="urgency" class="form-label">Urgence</label>
                <select class="form-control" id="urgency" formControlName="urgency">
                  <option value="3">Haute</option>
                  <option value="2">Moyenne</option>
                  <option value="1">Basse</option>
                </select>
              </div>

            </div>

            <div class="mb-3">
              <label for="assignee" class="form-label">Assigné à</label>
              <select class="form-control" id="assignee" formControlName="assignee">
                <option *ngFor="let guest of guests" [value]="guest.idPerson">          
                  <p *ngIf="guest.firstName">{{ guest.firstName }} {{ guest.lastName }} </p>
                  <p *ngIf="!guest.firstName"> {{ guest.email }}</p>
                </option>
              </select>
              
            </div>



            <div class="mb-3">

<div > 
<label class="me-2">Voulez-vous rendre cette tâche invisible pour certains invités ?</label>
<input type="radio" id="yes" name="displaySelect" (click)="showSelect = true">
<label class="me-2" for="yes">Oui</label>
<input type="radio" id="no" name="displaySelect" (click)="showSelect = false" checked>
<label for="no">Non</label>
</div>
Exemple de ce que vous pouvez afficher conditionnellement 
<div *ngIf="showSelect">
  <div class="mb-3">
    <label for="assignee" class="form-label">Selectionner l'invité pour qui la tâche sera invisible</label>
    <select class="form-control" id="assignee" formControlName="assignee">
      <option *ngFor="let guest of guests" [value]="guest.idPerson">
        <p *ngIf="guest.firstName">{{ guest.firstName }} {{ guest.lastName }} </p>
        <p *ngIf="!guest.firstName"> {{ guest.email }}</p>
      </option>
    </select>
  </div>
</div>


<ul>
  <li *ngFor="let guest of hiddenGuest">
    {{ guest.firstName ? guest.firstName + ' ' + guest.lastName : guest.email }} <button (click)="removeGuest(guest)">-</button>
  </li>
</ul>
            </div>

            <button type="submit" class="btn btn-primary">Créer</button>
          </form>
        </div>
-->



      </div>
    </div>
  </div>
</div>