<div id="accordion mt-4">
  <div class="card">
    <div class="card-header">
      <button class="btn w-100 toggle-btn" [attr.aria-expanded]="isOpen" (click)="isOpen = !isOpen">
        <div class="mb-0 d-flex flex-row nowrap justify-content-between">
          <h2> Module Tâche </h2>
          <div>

            <i [ngClass]="{'fa-chevron-down': !isOpen, 'fa-chevron-up': isOpen}" class="fa"></i>

          </div>
        </div>
      </button>
    </div>
    <div id="collapseOne" class="collapse" [ngClass]="{'show': isOpen}">
      <div class="card-body">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <div>
              <button (click)="displayMode = 'all'" class="btn btn-outline-primary me-2">Toutes les tâches</button>
              <button *ngIf="allTasks" (click)="displayMode = 'mine'" class="btn btn-outline-secondary me-2">Voir mes
                tâches</button>
              <button *ngIf="userEvent?.role == 'CREATEUR'" (click)="displayMode = 'create'"
                class="btn btn-outline-success">Créer une tâche</button>
            </div>
          </div>
        </nav>


        <!-- Vue pour toutes les tâches -->
        <div *ngIf="displayMode === 'all'">
          <div class="container mt-4">

            <div *ngIf="!allTasks" class="textInfosTask">
              <div *ngIf="userEvent?.role == 'CREATEUR'">
                <p> Ici vous pouvez créer et assigner des tâches pour vous ou pour vos convives. <br> <br>
                  Demander à un invité de ramener les chips n'as jamais été aussi simple !
                  Vous aurez également la possibilité de rendre certaines tâches invisibles pour certains !
                  Faites en sorte que Mathis apporte le gâteaux d'anniverssaire sans en informer Julie ! </p>

                <p class="txt-handwritting"> Debutez des maintenant en creant votre premiere tache. Cliquez simplement
                  sur le boutton "creer une tache" !</p>
              </div>

              <div *ngIf="userEvent.role != 'CREATEUR'">
                <p> Le créateur de cet événement en surement en train d'ajouter de nouvelles tâches ! <br> <br>
                  Patientez encore un peu ! Le créateur de cet événement vient d'activer le module tâche !
                  Vous verrez surement apparaitre des tâches pour vous ou pou d'autres invités !
                </p>

                <p class="txt-handwritting">N'hesitez pas a faire savoir a votre hote si vous avez des idees de taches !
                </p>
              </div>
            </div>
            <ng-container *ngIf="allTasks">
              <ng-container *ngFor="let task of allTasks">
                <p-fieldset *ngIf="user.idPerson !== undefined && !task.invisibleTo.includes(user.idPerson)">
                  <ng-template pTemplate="header">
                      <div class="flex d-flex justify-content-between">
                        <p>{{ task.dueDate | formatDate }}</p>
                        <span class="badge" [ngClass]="{'bg-primary': task.urgency == 1,'bg-warning': task.urgency == 2,'bg-danger': task.urgency == 3}" [ngSwitch]="task.urgency" [style]="{width: '150px'}">
                          <ng-container *ngSwitchCase="1">Basse</ng-container>
                          <ng-container *ngSwitchCase="2">Moyenne</ng-container>
                          <ng-container *ngSwitchCase="3">Haute</ng-container>
                        </span>
                        <div>
                          <!-- Visibles seulement si userEvent?.role == 'CREATEUR' -->
                          <button pButton pRipple label="Me porter volontaire" class="p-button-success" (click)="enlisted(task.idTask)" *ngIf="task.assignee.length > 0 && user.idPerson !== undefined && !task.assignee.includes(user.idPerson)"></button>
                          <button *ngIf="userEvent?.role == 'CREATEUR'" class="btn btn-danger  ms-2" (click)="deleteTask(task.idTask)"><i class="fa-regular fa-trash-can"></i></button> <!-- Poubelle -->
                        </div>
                      </div>
                  </ng-template>
                  <h2>Description de la tâche: </h2>
                  <p>{{ task.description }}</p>
                  <ng-container *ngIf="task.assignee.length > 0">
                    <h2>Ils sont sur le coup : </h2>
                    <p-listbox [options]="guestsForDropdown(task.assignee)" optionLabel="label" [style]="{'width':'15rem'}"></p-listbox>
                  </ng-container>
                  <ng-container *ngIf="task.assignee.length == 0">
                    <h2>Soyez le premier sur cette tâche</h2>
                    <button pButton pRipple label="Me porter volontaire" class="p-button-success" (click)="enlisted(task.idTask)"></button>
                  </ng-container>
                  <ng-container *ngIf="task.invisibleTo != []">
                    <h2>Ils ne doivent pas être au courant : </h2>
                    <p-listbox [options]="guestsForDropdown(task.invisibleTo)" optionLabel="label" [style]="{'width':'15rem'}"></p-listbox>
                  </ng-container>
              </p-fieldset>
              </ng-container>
            </ng-container>
          </div>
        </div>

        <!-- Vue pour mes tâches -->


        <div *ngIf="displayMode === 'mine'">
          <div class="container mt-4">
            <ng-container *ngIf="allTasks">
              <ng-container *ngFor="let task of allTasks">
                <p-fieldset *ngIf="user.idPerson !== undefined && task.assignee.includes(user.idPerson)">
                  <ng-template pTemplate="header">
                      <div class="flex d-flex justify-content-between">
                        <p>{{ task.dueDate | formatDate }}</p>
                        <span class="badge" [ngClass]="{'bg-primary': task.urgency == 1,'bg-warning': task.urgency == 2,'bg-danger': task.urgency == 3}" [ngSwitch]="task.urgency" [style]="{width: '150px'}">
                          <ng-container *ngSwitchCase="1">Basse</ng-container>
                          <ng-container *ngSwitchCase="2">Moyenne</ng-container>
                          <ng-container *ngSwitchCase="3">Haute</ng-container>
                        </span>
                        <div>
                          <!-- Visibles seulement si userEvent?.role == 'CREATEUR' -->
                          <button class="btn btn-warning" (click)="giveUpTask(task.idTask)">Abandonner</button> <!-- Edit -->
                        </div>
                      </div>
                  </ng-template>
                  <h2>Description de la tâche: </h2>
                  <ng-container *ngIf="task.assignee != []">
                    <h2>Ils sont sur le coup : </h2>
                    <p-listbox [options]="guestsForDropdown(task.assignee)" optionLabel="label" [style]="{'width':'15rem'}"></p-listbox>
                  </ng-container>
                  <ng-container *ngIf="task.invisibleTo != []">
                    <h2>Ils ne doivent pas être au courant : </h2>
                    <p-listbox [options]="guestsForDropdown(task.invisibleTo)" optionLabel="label" [style]="{'width':'15rem'}"></p-listbox>
                  </ng-container>
              </p-fieldset>
              </ng-container>
            </ng-container>
          </div>


        </div>

        <!--   Vue pour créer une tâche -->

        <div *ngIf="displayMode === 'create'">
          <form [formGroup]="taskForm" (ngSubmit)="createTask()" class="p-3">

            <!-- Section de Description -->
            <div class="card flex p-float-label justify-content-center mb-3">
                <label for="description" class="form-label">Décrivez en quelques mots votre nouvelle tâche</label>
                <textarea formControlName="description" id="description" rows="5" pInputTextarea [autoResize]="true"
                    class="form-control"></textarea>
            </div>
        
            <!-- Section de l'Urgence -->
            <div class="card flex justify-content-center mb-3">
                <p>Définissez l'urgence de cette nouvelle tâche</p>
                <p-selectButton formControlName="urgency" [options]="urgencies" optionLabel="name" optionValue="value"></p-selectButton>

            </div>
        
            <!-- Section de Date -->
            <div class="card flex justify-content-center mb-3">
                <p>Choisissez une date pour réaliser cette tâche.</p>
                <p-calendar formControlName="dueDate"></p-calendar>
            </div>
        
            <!-- Section des Assignés -->
            <div class="card flex justify-content-center mb-3">
                <p-multiSelect [options]="guests" formControlName="assignee" display="chip"></p-multiSelect>
            </div>
        
            <!-- Section de Toggle Button -->
            <div class="d-flex align-items-center mb-3">
                <p-toggleButton formControlName="showInvisibleToggle" onLabel="Yes" offLabel="No"></p-toggleButton>
                <span class="me-2">Cacher la tâche pour certain(e)s</span>
            </div>
        
            <!-- Section des Invités Invisibles -->
            <div *ngIf="taskForm.get('showInvisibleToggle')?.value" class="card flex justify-content-center mb-3">
                <p-multiSelect [options]="filteredGuests" formControlName="invisibleTo" display="chip"  ></p-multiSelect>
            </div>
        
            <!-- Section de Bouton de Soumission -->
            <div class="d-flex justify-content-center mb-3">
                <button type="submit" class="btn btn-primary" [disabled]="taskForm.invalid">Créer une tâche</button>
            </div>
        </form>
        

        </div>
      </div>
    </div>
  </div>
</div>