<!-- Navbar avec dropdown de recherche -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Chercher un Evénement </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">       
          <p-dropdown [options]="eventsOptions" [(ngModel)]="selectedEvent" optionLabel="title" [filter]="true" filterBy="title" [showClear]="true" placeholder="Sélectionner un événement">
            <ng-template pTemplate="selectedItem">
              <div *ngIf="selectedEvent && sendToDetails(selectedEvent.idEvent)">
                <div>{{ selectedEvent.title }}</div>
              </div>
            </ng-template>
            <ng-template let-event pTemplate="item">
              <div>
                <div>{{ event.title }}</div>
              </div>
            </ng-template>
          </p-dropdown>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Corps du component -->
<p-toast></p-toast>
<div class="card flex justify-content-center">
  <p-confirmDialog #cd [style]="{width: '50vw'}">
      <ng-template pTemplate="header">
          <h3>Header Content</h3>
      </ng-template>
      <ng-template pTemplate="footer">
          <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
          <button type="button" pButton icon="pi pi-check" label="Yes" (click)="cd.accept()"></button>
      </ng-template>
  </p-confirmDialog>
</div>
<div *ngFor="let userEvent of this.userEventsList; let i = index" class="card m-2">
  <div class="row m-2 cards-row">
    <ng-container *ngFor="let event of userEvent.events">
      <div class="col-md-2 cardDistinct">
        <div class="card box-shadow bg-light">
          <div class="card-header d-flex flex-row w-100 justify-content-between">
            <div class="my-auto">
              <div class="icon-container my-auto"> 


                
                
                <p-button (click)="confirm1(event.idEvent)" icon="pi pi-trash"  *ngIf="userEvent.role == 'CREATEUR'"  class=" participant-icon " [style]="{backgroundColor: 'darkred'}" styleClass="p-button-danger"></p-button>

             <!-- <i *ngIf="userEvent.role == 'CREATEUR'"  class="fa fa-trash me-2 participant-icon "></i> -->
              
               <i *ngIf="userEvent.role == 'CREATEUR'" class="fa-solid fa-champagne-glasses creator-icon"></i> 
                <div class="creator-info">
                  <p>Créateur de cet événement</p>
                </div>
              </div>
              <div class="icon-container">
                <i *ngIf="userEvent.role != 'CREATEUR'" class="fa-solid fa-champagne-glasses participant-icon"></i>
              </div>
            </div>
            <div class="my-auto">
              <h3 class="card-title">{{ event.title }} </h3>
            
            </div>



          </div>
          <div class="card-body">
            <p class="card-subtitle text-muted">
              <i class="fa-solid fa-calendar-days"></i>
              {{ event.eventDate | date:'d MMM y' }} <i class="ms-2 fa-solid fa-clock"></i> {{ formatStartTime(event.startTime) }} </p>
            <div class="card-text mt-4">
              <i class="fa-solid fa-location-dot"></i> {{ event.adresse }}, {{ event.cp }} {{ event.ville }}

              <div class="map-container"> 
                <app-map [completeAddress]="event.adresse + ' ' + event.ville + ' ' + event.cp" [completeAddress]="event.ville + ' ' + event.cp" [eventId]="event.idEvent"></app-map>
              </div>

            </div>
            <p class="card-text">
              {{ event.description | slice:0:150 }}
            </p>
            <button [routerLink]="['/event/singleEvent', event.idEvent]" class="btn btn-party">En savoir plus <i
                class="fa-solid fa-angles-right"></i> </button>
          </div>
        </div>
      </div>
    </ng-container>
  </div>




</div>