
  @import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300&display=swap');


  .about-intro {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/images/feu.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* C'est ce qui ajoute l'effet parallax */
    position: relative;
}

.founder{
    margin-top: 7rem;
    margin-bottom: 10rem;
   
}


@keyframes growAnimation {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.founderBox {
    background-color: #f7f7f7; /* Couleur d'arrière-plan claire */
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.titleFounder{
    margin-bottom: 5rem!important;
}

  h2{
      font-family: 'Source Sans 3', sans-serif;
      font-variant:small-caps;
      color: darkgoldenrod;
  }
    
  .about-history{
    max-height: 40rem;
    overflow: hidden;
    margin-top: 5rem !important;
  }
  .text-container {
    border: 1px solid #e0e0e0;
    padding: 30px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
}

.history-image-container {
    width: 100%;   /* Réduit à 80% pour diminuer la taille */
    margin: 0 auto;
    padding-bottom: 80%;   /* Réduit à 80% pour diminuer la hauteur */
    position: relative;
    overflow: hidden;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
    border: 1px solid #e0e0e0;
    transition: transform 0.3s ease;   /* Transition pour effet zoom */
}

.history-image-container:hover {
    transform: scale(1.05);   /* Zoom léger au survol */
}

.history-image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.about-values {
    max-height: 40rem;
    overflow: hidden;
}

.text-container {
    border: 1px solid #e0e0e0;
    padding: 30px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
}

.values-image-container {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 80%;
    position: relative;
    overflow: hidden;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
    border: 1px solid #e0e0e0;
    transition: transform 0.3s ease;
}

.values-image-container:hover {
    transform: scale(1.05);
}

.values-image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tech-sec-section {
    background-color: #f7f7f7; /* Couleur d'arrière-plan claire */
}
.techno{
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.tech-icon img {
    width: 80px; /* Adaptez la taille si nécessaire */
    height: 80px;
    margin: 0 auto;
}
.icon{
    width: 20px;
    height: 20px;
    margin-top: auto;
    margin-bottom: auto;
}
.tech-sec-section h4 {
    color: #555; /* Couleur de sous-titre sombre */
}

.tech-sec-section p {
    color: #777; /* Couleur de texte sombre */
}