<div class="">

    <!-- Introduction à l'application avec une image d'arrière-plan -->
    <div class="about-intro box-shadow mb-5 text-white py-5">
        <div class="container">
            <h1 class=" txt-handwritting text-left">À propos de TimeToToast</h1>
            <p class="lead p-4 my-5 text-justify text-center">
                <strong> Time To Toast </strong> est une application web et mobile innovante conçue pour simplifier la
                création de vos événements.<br><br>

                Dans un monde où le temps est précieux, nous comprenons l'importance d'organiser des rencontres et des
                célébrations sans tracas. C'est là que <strong> Time To Toast </strong> intervient.<br><br>

                Avec une interface conviviale et intuitive, <strong> Time To Toast </strong> rend la planification
                d'événements non seulement efficace mais aussi agréable.
                Qu'il s'agisse d'une réunion informelle entre amis, d'une grande célébration familiale ou d'un événement
                professionnel,
                notre plateforme offre des outils adaptés à chaque besoin.L'ère des oublis, des doubles réservations ou
                des
                malentendus est révolue.
                Avec<strong> Time To Toast </strong> , chaque événement que vous planifiez est voué au succès, quels que
                soient sa taille et son envergure.<br><br>

                Rejoignez-nous dans cette aventure et découvrez une nouvelle façon de célébrer chaque moment précieux.
                Avec
                <strong> Time To Toast </strong> ,
                chaque instant partagé devient un souvenir inoubliable.
            </p>
        </div>
    </div>

    <!-- Fondateurs -->
    <div class="container founder">
        <h2 class="text-right my-5 titleFounder">Rencontrez nos Fondateurs</h2>

        <!-- fondateur 1 -->
        <div class="row fondateur mt-5 mb-5 align-items-center">
            <div class="col-md-4 fondateur-img">
                <img class="img-fluid" src="/assets/images/diane.png" alt="Diane Raimbault">
            </div>
            <div class="col-md-8 fondateur-info">
                <h3 class="txt-handwritting">Diane Raimbault</h3>
                <p>Passionnée d'informatique et d'activités créatives, Diane née en 1994. Après un parcours diversifié
                    qui l'amènera jusqu'au monde cinématographique, elle prendra un virage à 180° pour débuter une
                    carrière dans ce domaine qui l'attire depuis de nombreuses années : la programmation. Aujourd'hui
                    cofondatrice de l'application TimeToToast, elle a su développer ses compétences et propose des
                    applications complètes et dynamiques.</p>
            </div>
        </div>

        <!-- fondateur 2 -->
        <div class="row fondateur mb-5 align-items-center flex-row-reverse">
            <div class="col-md-4 fondateur-img">
                <img class="img-fluid" src="/assets/images/pierre.png" alt="Pierre Pac">
            </div>
            <div class="col-md-8 fondateur-info text-end">
                <h3 class="txt-handwritting">Pierre Pac</h3>
                <p>Après une longue carrière dans la légion étrangère, Pierre né en 1984 se tourne vers l'informatique.
                    Cette envie motivée depuis plusieurs années de réflexion et d'apprentissage sera l'aboutissement
                    d'un parcours éclectique et complet. Cofondateur de l'application TimeToToast, il concrétise
                    aujourd'hui son rêve en alliant savoir-faire, technique, et innovations.</p>
            </div>
        </div>
    </div>




    <!-- Histoire de l'application avec une image à droite -->
    <div class="about-history mt-5 mb-5 row align-items-center">
        <div class="col-md-6 text-container my-auto">
            <h3>Notre histoire</h3>
            <p>
                Né d'une demande de proche, l'idée de TimeToToast était de proposer une application simple à prendre en
                main qui pourrait permettre de partager et de se réunir. Après des mois de conception, de développement
                et de tests, nous avons finalement lancé TimeToToast, une plateforme qui facilite non seulement le
                partage et la communication, mais renforce également les liens entre les utilisateurs. Aujourd'hui,
                TimeToToast continue de croître et d'innover, tout en restant fidèle à sa mission initiale de rapprocher
                les gens.
            </p>
        </div>
        <div class="col-md-6">
            <div class="history-image-container">
                <img src="/assets/images/joinUs.jpg" alt="Histoire" class="img-fluid history-image">
            </div>
        </div>
    </div>

    <!-- Vision et valeurs avec une image à gauche -->
    <div class="about-values mt-5 mb-5 row align-items-center">
        <div class="col-md-6 order-md-2 text-container my-auto">
            <h3>Notre vision et nos valeurs</h3>
            <p>
                Comme chaque grande idée, TimeToToast a été créé autour d'un ensemble de valeurs fortes qui guident
                chaque décision que nous prenons. Notre vision est d'apporter des solutions innovantes qui résonnent
                vraiment avec nos utilisateurs. Nous valorisons la transparence, l'intégrité, l'innovation et
                l'engagement envers nos utilisateurs. À travers chaque mise à jour et chaque interaction, nous nous
                efforçons de toujours respecter ces principes fondamentaux.
            </p>
        </div>
        <div class="col-md-6 order-md-1">
            <div class="values-image-container">
                <img src="/assets/images/party1.jpg" alt="Valeurs" class="img-fluid values-image">
            </div>
        </div>
    </div>


    
</div>