<div class="  box-shadow py-5">
    <div class="container py-4">
        <h1 class="display-4 text-center pt-4 mb-4"> Plan it. Live it. <span class="txt-handwritting">  Love it. </span>
            </h1>
        <p class="lead text-center">Bienvenue sur "Time to Toast" - votre solution incontournable pour créer, gérer et
            inviter vos convives à vos événements en toute simplicité. Fini les tracas, place à une planification
            d'événements fluide et intuitive.</p>
    </div>
</div>

<div class="parallax-container box-shadow"></div>

<div class="box-shadow mt-0"> 
<div class="container mt-5">
    <h2> Vos projets, notre prioritée </h2>
    <div class="row">
        <!-- Carte Anniversaire -->
        <div class="col-md-4 mb-5">
            <div class="card">
                <img src="/assets/images/anniverssaire.jpg" class="card-img-top" alt="Image anniversaire">
                <div class="card-body">
                    <h5 class="card-title">Anniversaire</h5>
                    <p class="card-text">Organisez un anniversaire mémorable avec "Time to Toast". Invitez vos amis,
                        partagez les moments.</p>
                </div>
            </div>
        </div>

        <!-- Carte Mariage -->
        <div class="col-md-4 mb-5">
            <div class="card">
                <img src="/assets/images/marriage.jpg" class="card-img-top" alt="Image mariage">
                <div class="card-body">
                    <h5 class="card-title">Mariage</h5>
                    <p class="card-text">Planifiez le mariage de vos rêves. De l'invitation à la réception, tout est
                        simplifié.</p>
                </div>
            </div>
        </div>

        <!-- Carte Réunion familiale -->
        <div class="col-md-4 mb-5">
            <div class="card">
                <img src="/assets/images/reunion.jpeg" class="card-img-top" alt="Image réunion familiale">
                <div class="card-body">
                    <h5 class="card-title">Réunion familiale</h5>
                    <p class="card-text">Retrouvez votre famille, planifiez des rencontres inoubliables. Chaque moment
                        compte.</p>
                </div>
            </div>
        </div>

        <!-- Carte Soirée entre amis -->
        <div class="col-md-4 mb-5">
            <div class="card">
                <img src="/assets/images/party.jpg" class="card-img-top" alt="Image soirée entre amis">
                <div class="card-body">
                    <h5 class="card-title">Soirée entre amis</h5>
                    <p class="card-text">Créez des souvenirs durables avec vos amis. Organisez vos soirées en quelques
                        clics.</p>
                </div>
            </div>
        </div>

<!-- Carte Fête d'entreprise -->
<div class="col-md-4 mb-5">
    <div class="card">
        <img src="/assets/images/entreprise.jpg" class="card-img-top" alt="Image fête d'entreprise">
        <div class="card-body">
            <h5 class="card-title">Fête d'entreprise</h5>
            <p class="card-text">Célébrez vos succès en équipe. Planifiez vos fêtes d'entreprise en toute simplicité.</p>
        </div>
    </div>
</div>

<!-- Carte Festival -->
<div class="col-md-4 mb-5">
    <div class="card">
        <img src="/assets/images/festival.jpg" class="card-img-top" alt="Image festival">
        <div class="card-body">
            <h5 class="card-title">Festival</h5>
            <p class="card-text">Créez et gérez de grands événements publics. Du planning à la réalisation, tout devient facile.</p>
        </div>
    </div>
</div>

    </div>
</div>
</div>
<!-- Container d'invitation -->
<div class=" "> 
    <div class="invitation-section text-white text-center py-5">
        <div class="container">
            <h3 class="mb-4 animated fadeInUp">Rejoignez-nous dès maintenant !</h3>
            <p class="lead mb-4 animated fadeInUp delay-1s">Donnez vie à vos idées et créez des événements inoubliables avec "Time to Toast". Votre prochaine aventure n'est qu'à quelques clics !</p>
            <a routerLink="/login" class="btn btn-light btn-lg animated fadeInUp delay-2s">Commencez ici</a>
        </div>
    </div>
</div>

<div>
    <div class="container my-5">
        <h2>
            a votre ecoute
        </h2>
        <!-- Premier commentaire - Gauche -->
        <div class="row pt-3 mb-5">
            <div class="col-md-2 d-flex justify-content-end">
                <img src="/assets/images/user1.jpg" alt="User 1" class="rounded-circle" width="60" height="60">
            </div>
            <div class="col-md-10">
                <div class="d-flex align-items-center mb-2">
                    <!-- 5 étoiles pour simuler une note donnée -->
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                </div>
                <div class="comment-bubble p-3">
                    "Cette application est géniale! J'ai pu organiser mon événement sans tracas. Tout le processus de création d'événement a été fluide et simple. Merci Time to Toast!"
                </div>
            </div>
        </div>
    
        <!-- Second commentaire - Droite -->
        <div class="row mb-5">
            <div class="col-md-10 text-end">
                <div class="d-flex justify-content-end align-items-center mb-2">
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                </div>
                <div class="comment-bubble p-3">
                    "Avec Time to Toast réunir la famille devient un jeu d'enfant ! Je créer l'évènement, j'assigne une tache à mon fils et mamie partage des photos !  "
                </div>
            </div>
            <div class="col-md-2 d-flex justify-content-start">
                <img src="/assets/images/user2.jpg" alt="User 2" class="rounded-circle" width="60" height="60">
            </div>
        </div>
    

                <!-- Troisième commentaire - Gauche -->
                <div class="row pt-3 mb-5">
                    <div class="col-md-2 d-flex justify-content-end">
                        <img src="/assets/images/user3.jpg" alt="User 1" class="rounded-circle" width="60" height="60">
                    </div>
                    <div class="col-md-10">
                        <div class="d-flex align-items-center mb-2">
                            <!-- 5 étoiles pour simuler une note donnée -->
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                        </div>
                        <div class="comment-bubble p-3">
                            "Je suis tellement reconnaissante d'avoir découvert cette application. Elle a transformé ma façon de voir les événements!"   </div>
                    </div>
                </div>
    
                        <!-- Quatrième commentaire - Droite -->
        <div class="row mb-5">
            <div class="col-md-10 text-end">
                <div class="d-flex justify-content-end align-items-center mb-2">
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                </div>
                <div class="comment-bubble p-3">
                    "Pour notre marriage nous n'avons pas hésité, Time to Toast nous as permit de planifier sereinnement le plus beau jour de notre vie et de partager cela avec nos proches ! "
                </div>
            </div>
            <div class="col-md-2 d-flex justify-content-start">
                <img src="/assets/images/user4.jpg" alt="User 4" class="rounded-circle" width="60" height="60">
            </div>
        </div>
    

    </div>
</div>

<div class=" py-5 bg-light">
    <div class=" py-5 ">
        <div class="container">
            <h2 class="mb-5">vos évènements en quelques chiffres</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="statistic-item  fade-in">
                        <h3 class="statistic-number" data-count="1000">256</h3>
                        <p class="statistic-text">Événements organisés</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="statistic-item fade-in delay-1">
                        <h3 class="statistic-number" data-count="25000">1023</h3>
                        <p class="statistic-text">Invités</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="statistic-item fade-in delay-2">
                        <h3 class="statistic-number" data-count="50">45</h3>
                        <p class="statistic-text">Villes couvertes</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
