<section class="container my-5 text-center " *ngIf="state === 'form'">
   <div class="row">
    <div class="col-md-6 border box-shadow  mb-5"> 
        <form class="pb-3" [formGroup]="userForm">
      <p class="pt-5"> Ajoutez votre Nom et Prénom : </p>
        <span class="p-float-label ">
            <input  id="firstName" formControlName="firstName" placeholder="Nom"/>
           
        </span>
        <span class="p-float-label m-3">
            <input  id="lastName" formControlName="lastName" placeholder="Prénom" />
           
        </span>
        <p-button label="Accéder à L'événement " (click)="onSubmit()"></p-button>
    </form></div>
    <div class="col-md-6"> <img src="/assets/images/balloons.webp" alt="" class="img-fluid"> </div>
   </div>
</section>

<section class="container my-5 text-center " *ngIf="state === 'text'">
    <div class="row"> 
 <div class="col-md-6"> <img src="/assets/images/confettis.webp" class="img-fluid" alt=""> </div>
  <div class="col-md-6 border box-shadow pt-5" > <h2 class="my-4 ">BON RETOUR PARMIS NOUS ! </h2>
  <div class="mt-5">   <p> Accéder à votre événement en cliquant sur le boutton ci-dessous. Ou inscrivez vous directement pour partager et vivre des experiences uniques !</p>
      <small>  sans inscription de votre part votre lien d'accès sera disponible jusqu'à septs jours aprés votre événement.</small></div>
    <button (click)="storeGuestInfo()" [routerLink]="['/event/singleEvent/', guest.eventId]"  class="btn btn-light box-shadow p-3 my-4"> Accéder à l'événement <i class="fa-solid fa-angles-right"></i></button> </div>  </div>
</section>

<section *ngIf="state === 'spinner'">
    <p-progressSpinner></p-progressSpinner>
</section>