<div id="accordion mt-4">
  <div class="card">
    <div class="card-header"> 
      <button class="btn w-100 toggle-btn" [attr.aria-expanded]="isOpen" (click)="isOpen = !isOpen">
      <div class="mb-0 d-flex flex-row nowrap justify-content-between">
        <h2> Module Photos </h2>
        <div>
       
            <i [ngClass]="{'fa-chevron-down': !isOpen, 'fa-chevron-up': isOpen}" class="fa"></i>
        
        </div>
      </div>  </button>
    </div>
    <div id="collapseOne" class="collapse" [ngClass]="{'show': isOpen}">
      <div class="card-body">
        <!-- Début du composant d'upload -->
        <div class="card flex justify-content-center">
          <p-toast></p-toast>
          <p-fileUpload name="demo[]" url="http://localhost:8080/photo/upload" (onUpload)="onUpload($event)" [multiple]="true" accept="image/*" [maxFileSize]="maxFileSize">
            <ng-template pTemplate="content">
              <ul *ngIf="uploadedFiles.length">
                <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size.toString() }} bytes</li>  <!-- utiliser toString() -->
              </ul>
              
            </ng-template>
          </p-fileUpload>
        </div>
        <!-- Fin du composant d'upload -->
      </div>
    </div>
  </div>
</div>
