<p-toast></p-toast>
<div id="accordion mt-4">
  <div class="card">
    <div class="card-header">
      <button class="btn w-100 toggle-btn" [attr.aria-expanded]="isOpen" (click)="isOpen = !isOpen">
        <div class="mb-0 d-flex flex-row nowrap justify-content-between">
          <h2> Module Cadeaux </h2>
          <div>

            <i [ngClass]="{'fa-chevron-down': !isOpen, 'fa-chevron-up': isOpen}" class="fa"></i>

          </div>
        </div>
      </button>
    </div>
    <div id="collapseOne" class="collapse" [ngClass]="{'show': isOpen}">
      <div class="card-body">


        <nav *ngIf="userEvent?.role == 'CREATEUR'" class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <div>
              <button (click)="setDisplayMode('galleria') " class="btn btn-outline-secondary me-2">Consulter la liste
                des cadeaux
              </button>
              <button (click)="setDisplayMode('addGift')" class="btn btn-outline-success"> Ajouter un cadeaux.</button>
            </div>
          </div>
        </nav>



        <div *ngIf="displayMode == 'galleria'" class="card">
          <p-dataView #dv [value]="gifts" [layout]="layout">

            <ng-template pTemplate="header">
              <div class="flex justify-content-end">
                <p-dataViewLayoutOptions></p-dataViewLayoutOptions>

              </div>
            </ng-template>

            <ng-template let-gift pTemplate="listItem">
              <div class="col-12">
                <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4">
                  <img class="w-9 sm:w-16rem xl:w-10rem shadow-2 block xl:block mx-auto border-round" [src]="gift.photo"
                    [alt]="gift.name" />
                  <div
                    class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
                    <div class="flex flex-column align-items-center sm:align-items-start gap-3">
                      <div class="text-2xl font-bold text-900">{{ gift.name }}</div>

                      <p-rating [ngModel]="gift.wanted" [readonly]="true" [cancel]="false"></p-rating>

                      <div class="flex align-items-center gap-3">
                        <span class="flex align-items-center gap-2">
                          <i class="pi pi-tag"></i>
                          <span class="font-semibold">{{ gift.categorie }}</span>

                        </span>
                        <p-tag [value]="getSeverity(gift).message" [severity]="getSeverity(gift).severity"></p-tag>


                      </div>
                    </div>
                    <div class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2">


                      <!-- Si updatedPrice est différent de gift.price, alors afficher updatedPrice et rayer gift.price -->
                      <span *ngIf="getUpdatedPrice(gift) !== gift.price" class="text-2xl font-semibold"> {{
                        getUpdatedPrice(gift) +'€'}}</span>
                      <span *ngIf="getUpdatedPrice(gift) !== gift.price" class="line-through"> {{ gift.price
                        +'€'}}</span>

                      <!-- Si updatedPrice est égal à gift.price, alors afficher seulement gift.price -->
                      <span *ngIf="getUpdatedPrice(gift) === gift.price" class="text-2xl font-semibold"> {{ gift.price
                        +'€'}}</span>

                      <button pButton icon="pi pi-shopping-cart" class="md:align-self-end mb-2 p-button-rounded"
                        data-bs-toggle="modal" data-bs-target="#staticBackdrop" [disabled]="gift.paid === true"
                        (click)="openLinkAndShowModal(gift)"></button>

                        <p-button *ngIf="userEvent?.role == 'CREATEUR'" icon="pi pi-trash" (click)="deleteGift(gift.idGift)" styleClass="p-button-rounded p-button-danger"></p-button>

                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template let-gift pTemplate="gridItem">
              <div class="col-12 sm:col-6 lg:col-12 xl:col-4 p-2">
                <div class="p-4 border-1 surface-border surface-card border-round">
                  <div class="flex flex-wrap align-items-center justify-content-between gap-2">
                    <span class="flex align-items-center gap-2">
                      <i class="pi pi-tag"></i>
                      <span class="font-semibold">{{ gift.category }}</span>
                    </span>

                    <p-tag [value]="getSeverity(gift).message" [severity]="getSeverity(gift).severity"></p-tag>

                  </div>
                  <div class="flex flex-column align-items-center gap-3 py-5">

                    <img class="w-9 shadow-2 border-round" [src]="gift.photo" [alt]="gift.name" />
                    <div class="text-2xl font-bold">{{ gift.name }}</div>

                    <p-rating [ngModel]="gift.wanted" [readonly]="true" [cancel]="false"></p-rating>

                  </div>
                  <div class="flex align-items-center justify-content-between">

                    <!-- Si updatedPrice est différent de gift.price, alors afficher updatedPrice et rayer gift.price -->
                    <span *ngIf="getUpdatedPrice(gift) !== gift.price" class="text-2xl font-semibold"> {{
                      getUpdatedPrice(gift) +'€'}}</span>
                    <span *ngIf="getUpdatedPrice(gift) !== gift.price" class="line-through"> {{ gift.price +'€'}}</span>

                    <!-- Si updatedPrice est égal à gift.price, alors afficher seulement gift.price -->
                    <span *ngIf="getUpdatedPrice(gift) === gift.price" class="text-2xl font-semibold"> {{ gift.price
                      +'€'}}</span>


                    <!-- Bouton -->
                    <button pButton icon="pi pi-shopping-cart" class="md:align-self-end mb-2 p-button-rounded"
                      data-bs-toggle="modal" data-bs-target="#staticBackdrop" [disabled]="gift.paid === true"
                      (click)="openLinkAndShowModal(gift)"></button>

                  </div>
                </div>
              </div>
            </ng-template>
          </p-dataView>

          <!-- Vertically centered modal -->
          <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">Participation au cadeau</h5>
                  <button type="button" class="btn-close" id="closeModalBtn" data-bs-dismiss="modal"
                    aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>Avez-vous participé au cadeau ?</p>

                  <ng-container *ngIf="!showInput">
                    <button class="btn btn-secondary" data-bs-dismiss="modal"
                      (click)="contributeToGift(false)">Non</button>
                    <button class="btn btn-primary" (click)="showInput = true">Oui</button>
                  </ng-container>

                  <ng-container *ngIf="showInput">
                    <input type="number" [(ngModel)]="amount" (input)="adjustAmount()"
                      placeholder="Indiquez le montant">
                  </ng-container>
                </div>

                <!-- Pied de page du modal -->
                <div *ngIf="showInput" class="modal-footer">
                  <button class="btn btn-success" [disabled]="!amount && !fullAmount"
                    (click)="contributeToGift(true, fullAmount ? gift.price : amount)">Valider</button>

                </div>
              </div>
            </div>
          </div>


        </div>

<div *ngIf="displayMode == 'addGift'" class="p-2 card">
  <h2> Ajouter un cadeaux a votre liste </h2>
  <p> Bienvenue dans le module de création de cadeaux. Ici vous pouvez ajouter simplement un cadeau à votre liste en remplissant le formulaire. </p>
 <form class="needs-validation" [formGroup]="addGiftForm" (ngSubmit)="addGift()">


  <h2> Votre Cadeaux </h2>
  <span class="my-4 p-float-label">
  <input pInputText id="name"  type="text" formControlName="name" class="form-control"  [ngClass]="{'is-invalid': addGiftForm.get('name')?.touched && !addGiftForm.get('name')?.valid}">
  <div *ngIf="addGiftForm.get('name')?.touched && !addGiftForm.get('name')?.valid" class="position-absolute">
    <i class="bi bi-exclamation-circle-fill text-danger" style="top: 50%; right: 10px; transform: translateY(-50%);"></i>
  </div>
  <label htmlFor="name">Nom de votre cadeaux</label>
</span>

<span class="my-2 ">
  <input  id="url" type="text" formControlName="url" placeholder="L'url de votre cadeaux " class="form-control"[ngClass]="{'is-invalid': addGiftForm.get('name')?.touched && !addGiftForm.get('name')?.valid}">
  <div *ngIf="addGiftForm.get('name')?.touched && !addGiftForm.get('name')?.valid" class="position-absolute">
    <i class="bi bi-exclamation-circle-fill text-danger" style="top: 50%; right: 10px; transform: translateY(-50%);"></i>
  </div>
  <small id="url-help">Copier/coller le lien de votre navigateur dans ce champs.</small>
</span>

<div class="my-2 card flex justify-content-center">
  <p-cascadeSelect id="categorie" formControlName="selectedCategory" class="form-control" [options]="categories" optionLabel="nom" optionGroupLabel="nom" [optionGroupChildren]="['sousCategories']" [style]="{ minWidth: '14rem' }" placeholder="Sélectionnez une catégorie"></p-cascadeSelect>
</div>

<h2 class="my-4"> Illustrer vos envies </h2>
<p> Rajoutez une image pour que vos invités visualise le cadeaux que vous souhaitez. </p>
<small> Vous pouvez généralement cliquer sur une image et faire afficher l'image. Coppiez/Collez ensuite le lien url de cette image ici</small>
<div class="my-3">
  <input p-inputText formControlName="photo" class="form-control" placeholder="Entrez le lien URL de l'image"[ngClass]="{'is-invalid': addGiftForm.get('name')?.touched && !addGiftForm.get('name')?.valid}">
  <div *ngIf="addGiftForm.get('name')?.touched && !addGiftForm.get('name')?.valid" class="position-absolute">
    <i class="bi bi-exclamation-circle-fill text-danger" style="top: 50%; right: 10px; transform: translateY(-50%);"></i>
  </div>
  <img *ngIf="showImage" [src]="addGiftForm.get('photo')?.value" alt="Preview" width="100"/>
</div>

<p> Indiquez simplement à vos convives les cadeaux que vous souhaitez mettre en avant</p>
<span> <p-rating [cancel]="false" formControlName="wanted"></p-rating> </span>


<h2 class="my-4"> Partager, souvent le plus beau des cadeaux.</h2>
<div class="my-4">
<label for="price"> Indiquez le montant du cadeaux que vous avez choisi </label>
<input id="price" formControlName="price" class="form-group" (input)="onPriceInput($event)" [ngClass]="{'is-invalid': addGiftForm.get('price')?.touched && !addGiftForm.get('price')?.valid}" />
<div *ngIf="addGiftForm.get('price')?.touched && !addGiftForm.get('price')?.valid" class="invalid-feedback">
  Merci de saisir un montant
</div>
</div>

  <button class="btn btn-success" [disabled]="addGiftForm.invalid" type="submit"> Ajouter mon cadeaux </button>
 </form>

</div>


      </div>
    </div>
  </div>